.Card {
  display: inline-block;
  float: none;
  width: 360px;
  height: 300px;
  margin: 15px 15px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0, 0.05);
}


.ImageContainer {
  background-color: #43425c;
  width: 360px;
  height: 70%;
}


.Image {
  max-width: 360px;
  max-height: 100%;
}

.Card .Description {
  height: 30%;
}

.Card .Description {
  width: 100%;
}

.Card .Details {
  text-align: left;
  width: 60%;
  line-height: 5px;
}

.Card .Price {
  text-align: right;
  width: 30%;
  color: #999
}

.Details, .Price {
  display: inline-table;
  float: none;
  height: 100%
}

.Description h5 {
  font-weight: 700;
  color: #777;
}

.Description h4 {
  font-weight: 700;
}

.edit, .delete {
  display: inline-block;
  float: none;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 48px;
  margin: 1px;
}

.delete {
  padding: 5px;
  background-color: #ff0000d4;
}

.edit {
  text-decoration: none;
  background-color: #555;
  text-align: center;
  padding: 5px 1px;
  font-size: 13px;
}